<section class="c-news">
    <div class="l-container l-container--w11">
        <div class="c-new__heading">
            <h2 class="c-news__title">NEWS</h2>
            <p class="c-news__desc">ニュースリリース</p>
        </div>
        <div class="c-news__content l-container l-container--w1010">
            <div class="c-news__seemore">
                <a href="#" class="c-news__link">一覧を見る</a>
            </div>
            <div class="c-news__list">
                <% if(typeof news != 'undefined') {
                    news.list && news.list.forEach(item=> { %>
                        <a href="<%= item.link %>" class="c-news__item">
                            <div class="c-news__date"><%= item.date %></div>
                            <div class="c-news__info">
                                <div class="c-news__tags">
                                    <% if(typeof item.tag != 'undefined'){
                                        item.tag && item.tag.forEach(tag=> { %>
                                            <span class="c-news__tag <%= tag.class %>"><%= tag.name %></span>
                                    <%  })
                                    } %>
                                </div>
                                <div class="c-news__post">
                                    <p class="c-news__name"><%= item.title %></p>
                                </div>
                            </div>
                        </a>
                    <% }) %>
                <% } %>
            </div>
        </div>
    </div>
</section>